  .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
.footer {
  
  margin-top: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
 
  color: rgba(255,255,255,.75);
  text-align: center;
}

.backg{

  background-color:rgba(255,255,255,.75) !important;
}

.lab{
  color:blue;
}

/*text effects*/
  body{
    
    
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    
  }

  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');



#special {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

/* Animation */
#special {
  animation: animated-text 4s steps(19,end) 1s 1 normal both,
             animated-cursor 600ms steps(19,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 320px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
p{
  color: #929693;
  font-weight: bold;
}

.rounded {
    border-radius:.25rem!important
}


/*multiline*/
.output {
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  color:#929693;
  h1 {
    font-size:25px;
  }
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
} 

/*slideshow*/


